body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    color: #fff;
}

header {
    width: auto;
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
}
/*header should have padding 10px, margin 10px, and border 1px solid black*/

.web-title-header {
    background-color: #004658;
    display: flex;
    width: 100%;
    align-items: center;
    height: 8em;
    justify-content: center;
}

.web-title-header > h1 {
    margin: 0;
    justify-content: center;
    padding-left: 1%;
}

.web-header-nav > nav > ul {
    display: flex;
    list-style: none;
    background-color: rgba(0, 70, 88, 0.8);
    margin: 0;
    padding: 0;
    justify-content: center;
    gap: 30em;
}

.web-header-nav > nav > ul button {
    background-color: #fff;
    padding: 10px 15px 10px 15px;
}

.web-header-nav > nav > ul a {
    color: #fff;
    text-decoration: none;
}

.web-header-nav > nav > ul button:hover {
    cursor: pointer;
}

body > h1 {
    color: #004658;
    text-align: center;
    font-size: 2.25em;
    margin: 1em 0 1em 0;
}

#container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    margin-bottom: 10em;
}

.sidebar {
    background-color: transparent;
    padding: 0 0 10px 0;
    grid-column: 1;
    border: 2px dashed #000;
    margin-left: 1px;
    border-radius: 17px;
}

.sidebar-image {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
    border-radius: 17px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.main-body {
    grid-column: 2;
    position: relative;
    color: #004658;
    padding-left: 0;
}

.search-people-form {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.search-people-form-items {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.search-people-form-items > label{
    font-size: 1.2em;
    margin-left: 10px;
    margin: 5px 10px 5px 0;
}


.search-people-form > form {
    width: 85%;
    background-color: #4b999e98;
    border-radius: 0.8em;
    border: 2px solid #000;
    padding: 1em 1em 2em 2em;
}

.search-people-form > form > p {
    font-weight: 600;
    font-size: 1.3em;
}

.search-people-form > form > label {
    font-size: 1.1em;
}

.add-vehicle-form-label {
    font-size: 1.2em;
    font-weight: 500;
}

.search-bar-class {
    width: 60%;
    height: 2.25em;
    font-size: 1.1em;
    font-family: 'Roboto', sans-serif;
    border-radius: 0.3em;
    margin-top: 0.5em;
    border: 0.5px solid grey;
    border: 2px solid transparent;
}

#search_input_text {
    margin: 1em 0 2em 0.5em;
}

#searchInputPeople {
    margin: 1em 0 2em 0.5em;
}

.search-bar-class:focus {
    border: 2px solid #000;
    outline: none;
}

.search-bar-class:focus {
    border: 2px solid #000;
    outline: none;
}
.form-box-add-vehicle-item1 {
    position: relative;
}

#dropdownOptions {
    position: absolute;
    top: calc(100% + 0.5em);
    width: 90%;
    background-color: #fff;
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: auto;
}

.dropdown-option {
    padding: 8px 12px 8px 0;
    cursor: pointer;
}

.dropdown-option:hover {
    background-color: #f2f2f2;
}

#dropdownOptions > ul {
    list-style-type: none;
    padding-left: 1em;
}

#dropdownOptions > ul > li {
    color: #000;
}

.search-people-form>form>button {
    margin-top: 0.5em;
    padding: 0.55em 3em 0.55em 3em;
    font-size: 1.1em;
    font-weight: 700;
    border-radius: 0.5em;
    border: 2px transparent solid;
    display: block;
}

.search-people-form>form>button:hover {
    border-radius: 0.5em;
    border: 2px solid;
    cursor: pointer;
    transition: 0.18s ease-in;
}

.form-box-add-vehicle {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 1em;
    padding-top: 3em;
}

.form-box-add-vehicle div {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5em;
}

.form-box-add-vehicle div input {
    width: 90%;
}

div small {
    visibility: hidden;
    color: red;
    font-weight: 600;
    display: block;
    height: 1.5em; 
}

#message{
    visibility: hidden;
    color: red;
    font-weight: 600;
    display: block;
    height: 1.5em; 
    font-size: 1em;
    margin-top: 2em;
}

.title-for-table-result {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

.title-for-table-result > span {
    width: 85%;
}

.table-to-display {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10em;
}

.table-to-display>.table {
    background-color: #4b999e98;
    width: 85%;
    border: 2px solid;
    border-radius: 0.5em;
    max-height: 35em;
    overflow-y: auto;
}

.table-to-display > .table > table {
    width: 100%;
}

.table > table > thead > tr {
    height: 3em;
    font-size: 1.1em;
    font-weight: 700;
    text-align: left;
}

.table > table > tbody > tr {
    height: 2em;
}

.table-to-display > .table > table > tbody > tr:nth-child(even) {
    background-color: #ffff;
}

.table-to-display > .table > table > tbody > tr:nth-child(odd) {
    background-color: #e6e4e4;
}

.no-data-found {
    text-align: center;
    background-color: #ffff;
    color: #000;
    font-weight: 600;
    height: 3em;
    font-size: 1.1em;
}

#success-message {
    display: block;
    margin-top: 2em;
    color: darkgreen;
    font-weight: 700;
    font-size: 1.1em;
    visibility: hidden;
}




footer {
    background-color: #004658;
    padding-bottom: 40px;
}

.footer-wave-svg {
    background-color: transparent;
    display: block;
    height: 30px;
    position: relative;
    top: -1px;
    width: 100%;
}

.footer-wave-path {
    fill: #fff;
}

.main-footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    margin: 0px 15px 0px 25px;
    padding-top: 100px;
}

.main-footer > div {
    padding: 0 5px 20px 20px;
    min-height: 200px;
}

.first-footer-box {
    position: relative;
}

.first-footer-box > h3 {
    text-align: center;
}

.first-footer-box-AutoTrack-description {
    text-align: center;
    padding-top: 25px;
}

.first-footer-box-copyRight {
    position: absolute;
    bottom: 0;
}

.second-footer-box {
    margin-left: 25%;
    margin-right: 25%;
}

.second-footer-box > h3 {
    text-transform: uppercase;
}

.second-footer-box-sitemap {
    padding: 0 0px 0 10px;
}

.second-footer-box-sitemap > ul > li {
    padding-top: 15px;
    list-style-type: circle;
    text-decoration: none;
}

.second-footer-box-sitemap > ul > li > a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.second-footer-box-sitemap > ul > li > a:hover {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 0.5px;
    transition: 0.18s ease-in;
}