body{
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
}
body>header>h1{
    background-color: blue;
    margin: auto;
    text-align: center;
}
nav{
    background-color: green;
    width: 20%;

}
body>header>nav>ul{
    list-style-type: none;
}
body>header>nav>ul>li>a{
    text-decoration: none;
}